<?xml version="1.0"?>
<launch>
  <node name="comm_read_state" pkg="serial_ros" type="comm_read_state" output="screen" >
        <param name="serial_port_name" value="/dev/ttyUSB0" />
        <!-- <param name="baudrate" value="B9600" /> -->
        <param name="Hz" value="20.0" />
        <param name="Id" value="1" />
        <!-- <param name="is_uav_terminal" value="true" /> -->
        <!-- <remap from="cmd_vel" to="/uav1/cmd_vel"/> -->
        <remap from="truth_state" to="/uav1/ground_truth/state"/>
  </node>
</launch>
